<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    
</head>

<body class="body">
    <form action="#" method="post">
        <p>Name : <input type="text" name="productName"/></p>
        <p>Code : <input type="text" name="Code"/></p>
        <p>Price : <input type="text" name="Price"/></p>
        <p>Description : <input type="text" name="Description"/></p>
        <p>Brand : <input type="text" name="Brand"/></p>
        <p>Type : 
            <select name = "Type"> 
                <option value="Online" >Online</option>
                <option value="Onsite">Onsite</option>
            </select>
        </p>
        <p><input type="submit"/></p>
    </form>
</body>
</html>
