<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Approve Stores Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

        <!-- src/main/resources/static/css/style.css --> 
    </head>

    <body class="body bodyStoreOwnerHomePage approvePageBody">

        <div class="logo">
            <div class="container">
                <h1><span>AliBaba</span>Egypt</h1>
                <ul>
                    <li><a href="customerHomePage">Home</a></li>
                    <li><a href="customerProductsStatistics">Products Stats</a></li>
                    <li><a href="customerUsersStatistics">Users Stats</a></li>
                </ul>
            </div>
        </div>
        
        <h1 style="text-align: center; color: red; margin-top: 150px;">Access Denied</h1>
        
    </body>
    
    
</html>
