<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Home Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

        <!-- src/main/resources/static/css/style.css -->
    </head>

    <body class="body bodyAdminHomePage approvePageBody bodyStoreOwnerAddStore">
        
        <div class="logo">
            <div class="container">
                <h1><span>AliBaba</span>Egypt</h1>
                <ul>
                    <li><a href="storeOwnerHomePage">Home</a></li>
                    <li><a href="storeOwnerAddStore">Add Store</a></li>
                    <li><a href="storeOwnerAddProduct">Add Products</a></li>
                    <li><a href="storeOwnerEditProduct">Edit</a></li>
                    <li><a href="storeOwnerAddOffer">Add Offer</a></li>
                    <li><a href="storeOwnerBuyProduct">Buy</a></li>
                    <li><a href="storeOwnerShowStat">Store Stats</a></li>
                    <li><a href="storeOwnerProductsStatistics">Products Stats</a></li>
                    <li><a href="storeOwnerUsersStatistics" style="color: #ff8b38;">Users Stats</a></li>
                    <li><a href="storeOwnerActionsHistory">Actions</a></li>
                </ul>
            </div>
        </div>

        
        <center style="margin-top: 100px;">
            <div class="cont container" style="width: 250px; display: inline-block; margin: 10px;">
                <table class="table" border="2">
                    <tr>
                        <th>Number of Customers</th>
                    </tr>
                    <tr>                       
                        <td th:text="${numOfCustomers}">numberOfCustomers</td>
                    </tr>
                </table>
            </div>
            
            <div class="cont container" style="width: 250px; display: inline-block; margin: 10px;">
                <table class="table" border="2">
                    <tr>
                        <th>Number of Store Owners</th>
                    </tr>
                    <tr>                       
                        <td th:text="${numberOfStoreOwners}">numberOfStoreOwners</td>
                    </tr>
                </table>
            </div>
            
            
            
            
            <div class="cont container" style="width: 250px; display: inline-block; margin: 10px;">
                <table class="table" border="2">
                    <tr>
                        <th>Number Of Approved Stores</th>
                    </tr>
                    <tr>                       
                        <td th:text="${numberOfApproveStores}">numberOfApproveStores</td>
                    </tr>
                </table>
            </div>
            
            <div class="cont container" style="width: 250px; display: inline-block; margin: 10px;">
                <table class="table" border="2">
                    <tr>
                        <th>Number Of UnApproved Stores</th>
                    </tr>
                    <tr>                       
                        <td th:text="${numberOfUnApproveStores}">numberOfUnApproveStores</td>
                    </tr>
                </table>
            </div>
            
        </center>

    </body>
</html>
